/*
<!-- styles.css: -->
<!-- This is comment  -->

 <!-- Here's an exmple of a CSS rule: 

div.bold-text {
    font-weight: 700;
}

selector {
    property: value;
}

<div> is an HTML element like <p> or <h#>

<div> doesn't carry extra "rules" with it,
like <p> and <h#> tags.  <div> is just an empty container

"*" is the Universal Selector.  Example:
*/

/* * {
    color: #016795;
} */

/* div {
    color: purple;
} */
/* 
.sad {
    font-size: xx-small;
}


.Kent {
    color :blue
}
.Gloucester {
    color: darkgreen

}
.King-Lear {
    color: red
}

#annoyed{
    font-size: x-large;
}
/*as a rule avoid id selectors, they can only be used once per page, and each element can
only have one id. In general, you want to use class selectors because they can be repeated
and you can assign more than one to a single element*/
/*#topOfPage {
    font-weight: 900;
    font-style: oblique;
}
.royal {
    font-style:italic
}*/
/* examples of working with multiple classes: we've already shown that we can give one element multiple classes

EX

If important, red and italicized
If read, font small
If unread, italic font style, background yellow
*/
/*
.important,
.unread{
    font-style: italic
}

.important {
    color: greenyellow;
}

 */
 /* .Pitchers{
    color:red;
    background-color: white;
 }
 .position-players{
    color:white;
    background-color: red;
 }
 .Outfielders{
    font-family: monospace;
 }
 .position-players .Outfielders{
    font-style:italic
 }
 .Starters{
    font-weight: 800;
    text-align:center
 }
 .Relievers{
    font-weight: 300;
    text-align: right;
 }
 .infielders{
    font-weight:400;
    text-align: center;
 }
 /*change how lists are viewed
 ul{
    list-style: none;
 }
 
  li:before{
    content:"<"
  }
  li:after{
    content:">"
  } */
.flex-container{
    display: flex;
    height: 300px;
    padding: 16px;
    border: 4px solid black;
    background: blueviolet;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.flex-container div{
    background: palegreen;
    border:  4px solid black;
    width: 60px;
    height: 60px;
    
}
